<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzdepot.offer.mapper.ClassGroupMapper" >
  <resultMap id="BaseResultMap" type="com.bzdepot.offer.model.ClassGroup" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <collection property="classfiy" ofType="com.bzdepot.offer.model.Classfiy" column="group_id">
      <id column="cid" property="id" jdbcType="BIGINT" />
      <result column="title" property="title" jdbcType="VARCHAR" />
      <result column="statuss" property="status" jdbcType="TINYINT" />
      <result column="seller_ids" property="sellerId" jdbcType="BIGINT" />
      <result column="create_time" property="createTime" jdbcType="BIGINT" />
      <result column="update_time" property="updateTime" jdbcType="BIGINT" />
      <result column="group_id" property="groupId" jdbcType="BIGINT" />
    </collection>
  </resultMap>

  <resultMap id="JoinMap" type="com.bzdepot.offer.vo.ClassGroupVo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <collection property="classfiy" ofType="com.bzdepot.offer.vo.ClassfiyVo" column="group_id">
      <id column="cid" property="id" jdbcType="BIGINT" />
      <result column="title" property="title" jdbcType="VARCHAR" />
      <result column="group_id" property="groupId" jdbcType="BIGINT" />
      <result column="status" property="status" jdbcType="TINYINT" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_name, status, create_time, update_time,seller_id
  </sql>
  <select id="selectByGroupNameAndSellerId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from class_group where seller_id = #{sellerId} and group_name = #{groupName}
  </select>
  <select id="selectGroupAndClass" resultMap="JoinMap" parameterType="java.lang.Long">
    SELECT
    id,group_name,seller_id,group_id,title,cid,status
    FROM
    (SELECT g.id,g.group_name,g.seller_id,c.group_id,c.title,c.id as cid,c.status FROM class_group g
    join classfiy c on  g.id = c.group_id where (g.seller_id=#{sellerid} or g.seller_id=0)
    UNION ALL
        SELECT
          g.id,g.group_name,g.seller_id,NULL as group_id,NULL as title,NULL as cid,NULL as status
        FROM class_group g
        where (SELECT count(id) from classfiy where group_id=g.id)=0 and (g.seller_id=#{sellerid} or g.seller_id=0)
    ) a
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from class_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from class_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bzdepot.offer.model.ClassGroup" >
    insert into class_group (id, group_name, status, 
      create_time, update_time,seller_id)
    values (#{id,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT},#{sellerId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective"  keyProperty="id"  useGeneratedKeys="true" parameterType="com.bzdepot.offer.model.ClassGroup" >
    insert into class_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzdepot.offer.model.ClassGroup" >
    update class_group
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzdepot.offer.model.ClassGroup" >
    update class_group
    set group_name = #{groupName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      seller_id = #{sellerId,jdbcType=BIGINT},
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>