<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzdepot.special.mapper.CommonColorMapper" >
  <resultMap id="BaseResultMap" type="com.bzdepot.special.model.CommonColor" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="color_name" property="colorName" jdbcType="VARCHAR" />
    <result column="color_bs" property="colorBs" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, color_name, color_bs
  </sql>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from common_color
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from common_color
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from common_color
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bzdepot.special.model.CommonColor" >
    insert into common_color (id, color_name, color_bs
      )
    values (#{id,jdbcType=BIGINT}, #{colorName,jdbcType=VARCHAR}, #{colorBs,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bzdepot.special.model.CommonColor" >
    insert into common_color
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="colorName != null" >
        color_name,
      </if>
      <if test="colorBs != null" >
        color_bs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="colorName != null" >
        #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="colorBs != null" >
        #{colorBs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzdepot.special.model.CommonColor" >
    update common_color
    <set >
      <if test="colorName != null" >
        color_name = #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="colorBs != null" >
        color_bs = #{colorBs,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzdepot.special.model.CommonColor" >
    update common_color
    set color_name = #{colorName,jdbcType=VARCHAR},
      color_bs = #{colorBs,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>