<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzdepot.special.mapper.MachineConfigMapper" >
  <resultMap id="BaseResultMap" type="com.bzdepot.special.model.MachineConfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="printing_id" property="printingId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, printing_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from machine_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from machine_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bzdepot.special.model.MachineConfig" >
    insert into machine_config (id, printing_id)
    values (#{id,jdbcType=BIGINT}, #{printingId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bzdepot.special.model.MachineConfig" >
    insert into machine_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="printingId != null" >
        printing_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="printingId != null" >
        #{printingId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzdepot.special.model.MachineConfig" >
    update machine_config
    <set >
      <if test="printingId != null" >
        printing_id = #{printingId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzdepot.special.model.MachineConfig" >
    update machine_config
    set printing_id = #{printingId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>