<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzdepot.special.mapper.PaperGramMapper" >
  <resultMap id="BaseResultMap" type="com.bzdepot.special.model.PaperGram" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="gram_nums" property="gramNums" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, seller_id, gram_nums
  </sql>
  <select id="selectBySellerIdAndGramNums" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from paper_gram
    where seller_id = #{sellerId} and gram_nums = #{gramNums}
  </select>
  <select id="selectBySellerId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from paper_gram
    where seller_id = #{sellerId,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from paper_gram
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from paper_gram
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bzdepot.special.model.PaperGram" >
    insert into paper_gram (id, seller_id, gram_nums
      )
    values (#{id,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, #{gramNums,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bzdepot.special.model.PaperGram" >
    insert into paper_gram
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="gramNums != null" >
        gram_nums,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="gramNums != null" >
        #{gramNums,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzdepot.special.model.PaperGram" >
    update paper_gram
    <set >
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="gramNums != null" >
        gram_nums = #{gramNums,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzdepot.special.model.PaperGram" >
    update paper_gram
    set seller_id = #{sellerId,jdbcType=BIGINT},
      gram_nums = #{gramNums,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>