<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzdepot.special.mapper.ProductSizeMapper" >
  <resultMap id="BaseResultMap" type="com.bzdepot.special.model.ProductSize" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pconfig_id" property="pconfigId" jdbcType="BIGINT" />
    <result column="longs" property="longs" jdbcType="DECIMAL" />
    <result column="width" property="width" jdbcType="DECIMAL" />
    <result column="height" property="height" jdbcType="DECIMAL" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="is_default" property="isDefault" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pconfig_id, longs, width, height, seller_id,is_default
  </sql>
  <select id="findSizeByOutId" resultMap="BaseResultMap" parameterType="com.bzdepot.special.model.ProductSize">
    select
    <include refid="Base_Column_List" />
    from product_size
    where pconfig_id = #{pconfigId,jdbcType=BIGINT} and seller_id = #{sellerId,jdbcType=BIGINT} and longs = #{longs,jdbcType=DECIMAL}
    and width = #{width,jdbcType=DECIMAL} and height = #{height,jdbcType=DECIMAL}
  </select>
  <select id="selectBySellerId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_size
    where seller_id = #{sellerId} and pconfig_id = #{pconfigId}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product_size
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_size
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bzdepot.special.model.ProductSize" >
    insert into product_size (id, pconfig_id, longs, 
      width, height, seller_id,is_default
      )
    values (#{id,jdbcType=BIGINT}, #{pconfigId,jdbcType=BIGINT}, #{longs,jdbcType=DECIMAL}, 
      #{width,jdbcType=DECIMAL}, #{height,jdbcType=DECIMAL}, #{sellerId,jdbcType=BIGINT},#{isDefault,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bzdepot.special.model.ProductSize" >
    insert into product_size
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pconfigId != null" >
        pconfig_id,
      </if>
      <if test="longs != null" >
        longs,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pconfigId != null" >
        #{pconfigId,jdbcType=BIGINT},
      </if>
      <if test="longs != null" >
        #{longs,jdbcType=DECIMAL},
      </if>
      <if test="width != null" >
        #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null" >
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzdepot.special.model.ProductSize" >
    update product_size
    <set >
      <if test="pconfigId != null" >
        pconfig_id = #{pconfigId,jdbcType=BIGINT},
      </if>
      <if test="longs != null" >
        longs = #{longs,jdbcType=DECIMAL},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzdepot.special.model.ProductSize" >
    update product_size
    set pconfig_id = #{pconfigId,jdbcType=BIGINT},
      longs = #{longs,jdbcType=DECIMAL},
      width = #{width,jdbcType=DECIMAL},
      height = #{height,jdbcType=DECIMAL},
      seller_id = #{sellerId,jdbcType=BIGINT},
    is_default = #{isDefault,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="setIsDefault" parameterType="com.bzdepot.special.model.ProductSize" >
    update product_size set is_default = 0 where seller_id = #{sellerId,jdbcType=BIGINT} and pconfig_id = #{pconfigId,jdbcType=BIGINT};
    update product_size set is_default = 1 where seller_id = #{sellerId,jdbcType=BIGINT} and pconfig_id = #{pconfigId,jdbcType=BIGINT} and longs = #{longs,jdbcType=DECIMAL} and  width = #{width,jdbcType=DECIMAL} and height = #{height,jdbcType=DECIMAL};
  </update>
</mapper>