<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzdepot.special.mapper.ProductTextureMapper" >
  <resultMap id="BaseResultMap" type="com.bzdepot.special.model.ProductTexture" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pconfig_id" property="pconfigId" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="texture_id" property="textureId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pconfig_id, seller_id, texture_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product_texture
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_texture
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bzdepot.special.model.ProductTexture" >
    insert into product_texture (id, pconfig_id, seller_id, 
      texture_id)
    values (#{id,jdbcType=BIGINT}, #{pconfigId,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, 
      #{textureId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bzdepot.special.model.ProductTexture" >
    insert into product_texture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pconfigId != null" >
        pconfig_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="textureId != null" >
        texture_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pconfigId != null" >
        #{pconfigId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="textureId != null" >
        #{textureId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzdepot.special.model.ProductTexture" >
    update product_texture
    <set >
      <if test="pconfigId != null" >
        pconfig_id = #{pconfigId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="textureId != null" >
        texture_id = #{textureId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzdepot.special.model.ProductTexture" >
    update product_texture
    set pconfig_id = #{pconfigId,jdbcType=BIGINT},
      seller_id = #{sellerId,jdbcType=BIGINT},
      texture_id = #{textureId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>