<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzdepot.special.mapper.ProductGramMapper" >
  <resultMap id="BaseResultMap" type="com.bzdepot.special.model.ProductGram" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pt_id" property="ptId" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="gram_id" property="gramId" jdbcType="BIGINT" />
    <result column="is_default" property="isDefault" jdbcType="TINYINT" />
    <collection property="gramData" ofType="com.bzdepot.special.model.PaperGram" select="com.bzdepot.special.mapper.PaperGramMapper.selectByPrimaryKey" column="gram_id"  />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pt_id, seller_id, gram_id,is_default
  </sql>
  <select id="selectForList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_gram
    where seller_id = #{sellerId} and pt_id = #{textureId}
  </select>
  <select id="selectByMore" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_gram
    where seller_id = #{sellerId} and pt_id = #{textureId} and gram_id = #{gramId}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product_gram
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_gram
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByMore" parameterType="java.lang.Long" >
    delete from product_gram
    where seller_id = #{sellerId} and pt_id = #{textureId} and gram_id = #{gramId}
  </delete>
  <insert id="insert" parameterType="com.bzdepot.special.model.ProductGram" >
    insert into product_gram (id, pt_id, seller_id, 
      gram_id,is_default)
    values (#{id,jdbcType=BIGINT}, #{ptId,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, 
      #{gramId,jdbcType=BIGINT}, #{isDefault,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bzdepot.special.model.ProductGram" >
    insert into product_gram
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ptId != null" >
        pt_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="gramId != null" >
        gram_id,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ptId != null" >
        #{ptId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="gramId != null" >
        #{gramId,jdbcType=BIGINT},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzdepot.special.model.ProductGram" >
    update product_gram
    <set >
      <if test="ptId != null" >
        pt_id = #{ptId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="gramId != null" >
        gram_id = #{gramId,jdbcType=BIGINT},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzdepot.special.model.ProductGram" >
    update product_gram
    set pt_id = #{ptId,jdbcType=BIGINT},
      seller_id = #{sellerId,jdbcType=BIGINT},
      gram_id = #{gramId,jdbcType=BIGINT},
    is_default = #{isDefault,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="setIsDefault">
    update product_gram set is_default = 0 where seller_id = #{sellerId} and pt_id = #{textureId};
    update product_gram set is_default = 1 where seller_id = #{sellerId} and pt_id = #{textureId} and gram_id = #{gramId};
  </update>
</mapper>