<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzdepot.special.mapper.ProductMasterMapper" >
  <resultMap id="BaseResultMap" type="com.bzdepot.special.model.ProductMaster" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="class_id" property="classId" jdbcType="BIGINT" />
    <result column="box_id" property="boxId" jdbcType="BIGINT" />
    <result column="smoney" property="smoney" jdbcType="DECIMAL" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bzdepot.special.model.ProductMaster" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, class_id, box_id, smoney, seller_id, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectBySellerIdAndClassId" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product_master
    where seller_id = #{sellerId} and class_id = #{classId}
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product_master
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_master
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bzdepot.special.model.ProductMaster" >
    insert into product_master (id, class_id, box_id, 
      smoney, seller_id, create_time, 
      update_time, content)
    values (#{id,jdbcType=BIGINT}, #{classId,jdbcType=BIGINT}, #{boxId,jdbcType=BIGINT}, 
      #{smoney,jdbcType=DECIMAL}, #{sellerId,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bzdepot.special.model.ProductMaster" >
    insert into product_master
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="boxId != null" >
        box_id,
      </if>
      <if test="smoney != null" >
        smoney,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=BIGINT},
      </if>
      <if test="boxId != null" >
        #{boxId,jdbcType=BIGINT},
      </if>
      <if test="smoney != null" >
        #{smoney,jdbcType=DECIMAL},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzdepot.special.model.ProductMaster" >
    update product_master
    <set >
      <if test="boxId != null" >
        box_id = #{boxId,jdbcType=BIGINT},
      </if>
      <if test="smoney != null" >
        smoney = #{smoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where seller_id = #{sellerId,jdbcType=BIGINT} and class_id = #{classId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bzdepot.special.model.ProductMaster" >
    update product_master
    set class_id = #{classId,jdbcType=BIGINT},
      box_id = #{boxId,jdbcType=BIGINT},
      smoney = #{smoney,jdbcType=DECIMAL},
      seller_id = #{sellerId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzdepot.special.model.ProductMaster" >
    update product_master
    set class_id = #{classId,jdbcType=BIGINT},
      box_id = #{boxId,jdbcType=BIGINT},
      smoney = #{smoney,jdbcType=DECIMAL},
      seller_id = #{sellerId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>