<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzdepot.special.mapper.TechnologyAttrMapper" >
  <resultMap id="BaseResultMap" type="com.bzdepot.special.model.TechnologyAttr" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="t_id" property="tId" jdbcType="BIGINT" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="hs_in_num" property="hsInNum" jdbcType="INTEGER" />
    <result column="hs_hs_num" property="hsHsNum" jdbcType="INTEGER" />
    <result column="hs_md_num" property="hsMdNum" jdbcType="INTEGER" />
    <result column="hs_md_hs_num" property="hsMdHsNum" jdbcType="INTEGER" />
    <result column="is_edition" property="isEdition" jdbcType="TINYINT" />
    <result column="on_money" property="onMoney" jdbcType="DECIMAL" />
    <result column="machining_nums" property="machiningNums" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="select_uit_type" property="selectUitType" jdbcType="TINYINT" />
    <result column="robot_size_max_longs" property="robotSizeMaxLongs" jdbcType="DECIMAL" />
    <result column="robot_size_max_width" property="robotSizeMaxWidth" jdbcType="DECIMAL" />
    <result column="robot_size_min_longs" property="robotSizeMinLongs" jdbcType="DECIMAL" />
    <result column="robot_size_min_width" property="robotSizeMinWidth" jdbcType="DECIMAL" />
    <result column="limit_type" property="limitType" jdbcType="TINYINT" />
    <result column="limit_number" property="limitNumber" jdbcType="DECIMAL" />
    <collection property="limitList" ofType="com.bzdepot.special.model.TechnologyLimit" select="com.bzdepot.special.mapper.TechnologyLimitMapper.selectData" column="{sellerId=seller_id,tClassId=t_id,tAttrId=id}"  />
    <collection property="limitEditList" ofType="com.bzdepot.special.model.TechnologyEditLimit" select="com.bzdepot.special.mapper.TechnologyEditLimitMapper.selectData" column="{sellerId=seller_id,tClassId=t_id,tAttrId=id}"  />
  </resultMap>
  <resultMap id="GetNamesResultMap" type="com.bzdepot.special.bo.GetNamesBo" >
    <result column="category" property="Names" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, t_id, category, hs_in_num, hs_hs_num, hs_md_num, hs_md_hs_num, is_edition, on_money, 
    machining_nums,status, create_time, update_time, seller_id,select_uit_type,robot_size_max_longs,
    robot_size_max_width,robot_size_min_longs,robot_size_min_width,limit_type,limit_number
  </sql>
  <select id="selectByPrimaryKeyForNames" resultMap="GetNamesResultMap" parameterType="java.lang.Long" >

    select category from technology_attr
    where id = #{id,jdbcType=BIGINT}

  </select>
  <select id="countAttrDataByTid" resultType="java.lang.Integer">
    select count(id) from technology_attr where seller_id = #{sellerId,jdbcType=BIGINT} and t_id = #{tId,jdbcType=BIGINT}
  </select>
  <select id="listAttrDataByTid" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
      <include refid="Base_Column_List" />
    from technology_attr where t_id = #{tId,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from technology_attr
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from technology_attr
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByTid" parameterType="java.lang.Long">
    delete from technology_attr
    where t_id = #{tId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bzdepot.special.model.TechnologyAttr" >
    insert into technology_attr (id, t_id, category, 
      hs_in_num, hs_hs_num, hs_md_num, 
      hs_md_hs_num, is_edition, on_money, 
      machining_nums,status, create_time,
      update_time, seller_id,select_uit_type,robot_size_max_longs,
    robot_size_max_width,robot_size_min_longs,robot_size_min_width,limit_type,limit_number)
    values (#{id,jdbcType=BIGINT}, #{tId,jdbcType=BIGINT}, #{category,jdbcType=VARCHAR}, 
      #{hsInNum,jdbcType=INTEGER}, #{hsHsNum,jdbcType=INTEGER}, #{hsMdNum,jdbcType=INTEGER}, 
      #{hsMdHsNum,jdbcType=INTEGER}, #{isEdition,jdbcType=TINYINT}, #{onMoney,jdbcType=DECIMAL}, 
      #{machiningNums,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT},
      #{updateTime,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT},#{selectUitType,jdbcType=TINYINT},
    #{robotSizeMaxLongs,jdbcType=DECIMAL}, #{robotSizeMaxWidth,jdbcType=DECIMAL}, #{robotSizeMinLongs,jdbcType=DECIMAL},
    #{robotSizeMinWidth,jdbcType=DECIMAL},#{limitType,jdbcType=TINYINT},#{limitNumber,jdbcType=DECIMAL})

  </insert>
  <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.bzdepot.special.model.TechnologyAttr" >
    insert into technology_attr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tId != null" >
        t_id,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="hsInNum != null" >
        hs_in_num,
      </if>
      <if test="hsHsNum != null" >
        hs_hs_num,
      </if>
      <if test="hsMdNum != null" >
        hs_md_num,
      </if>
      <if test="hsMdHsNum != null" >
        hs_md_hs_num,
      </if>
      <if test="isEdition != null" >
        is_edition,
      </if>
      <if test="onMoney != null" >
        on_money,
      </if>
      <if test="machiningNums != null" >
        machining_nums,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="selectUitType != null" >
        select_uit_type,
      </if>
      <if test="robotSizeMaxLongs != null" >
        robot_size_max_longs,
      </if>
      <if test="robotSizeMaxWidth != null" >
        robot_size_max_width,
      </if>
      <if test="robotSizeMinLongs != null" >
        robot_size_min_longs,
      </if>
      <if test="robotSizeMinWidth != null" >
        robot_size_min_width,
      </if>
      <if test="limitType != null" >
        limit_type,
      </if>
      <if test="limitNumber != null" >
        limit_number,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tId != null" >
        #{tId,jdbcType=BIGINT},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="hsInNum != null" >
        #{hsInNum,jdbcType=INTEGER},
      </if>
      <if test="hsHsNum != null" >
        #{hsHsNum,jdbcType=INTEGER},
      </if>
      <if test="hsMdNum != null" >
        #{hsMdNum,jdbcType=INTEGER},
      </if>
      <if test="hsMdHsNum != null" >
        #{hsMdHsNum,jdbcType=INTEGER},
      </if>
      <if test="isEdition != null" >
        #{isEdition,jdbcType=TINYINT},
      </if>
      <if test="onMoney != null" >
        #{onMoney,jdbcType=DECIMAL},
      </if>
      <if test="machiningNums != null" >
        #{machiningNums,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="selectUitType != null" >
        #{selectUitType,jdbcType=TINYINT},
      </if>
      <if test="robotSizeMaxLongs != null" >
        #{robotSizeMaxLongs,jdbcType=DECIMAL},
      </if>
      <if test="robotSizeMaxWidth != null" >
        #{robotSizeMaxWidth,jdbcType=DECIMAL},
      </if>
      <if test="robotSizeMinLongs != null" >
        #{robotSizeMinLongs,jdbcType=DECIMAL},
      </if>
      <if test="robotSizeMinWidth != null" >
        #{robotSizeMinWidth,jdbcType=DECIMAL},
      </if>
      <if test="limitType != null" >
        #{limitType,jdbcType=TINYINT},
      </if>
      <if test="limitNumber != null" >
        #{limitNumber,jdbcType=DECIMAL},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzdepot.special.model.TechnologyAttr" >
    update technology_attr
    <set >
      <if test="tId != null" >
        t_id = #{tId,jdbcType=BIGINT},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="hsInNum != null" >
        hs_in_num = #{hsInNum,jdbcType=INTEGER},
      </if>
      <if test="hsHsNum != null" >
        hs_hs_num = #{hsHsNum,jdbcType=INTEGER},
      </if>
      <if test="hsMdNum != null" >
        hs_md_num = #{hsMdNum,jdbcType=INTEGER},
      </if>
      <if test="hsMdHsNum != null" >
        hs_md_hs_num = #{hsMdHsNum,jdbcType=INTEGER},
      </if>
      <if test="isEdition != null" >
        is_edition = #{isEdition,jdbcType=TINYINT},
      </if>
      <if test="onMoney != null" >
        on_money = #{onMoney,jdbcType=DECIMAL},
      </if>
      <if test="machiningNums != null" >
        machining_nums = #{machiningNums,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="selectUitType != null" >
        select_uit_type = #{selectUitType,jdbcType=TINYINT},
      </if>
      <if test="robotSizeMaxLongs != null" >
        robot_size_max_longs = #{robotSizeMaxLongs,jdbcType=DECIMAL},
      </if>
      <if test="robotSizeMaxWidth != null" >
        robot_size_max_width = #{robotSizeMaxWidth,jdbcType=DECIMAL},
      </if>
      <if test="robotSizeMinLongs != null" >
        robot_size_min_longs = #{robotSizeMinLongs,jdbcType=DECIMAL},
      </if>
      <if test="robotSizeMinWidth != null" >
        robot_size_min_width = #{robotSizeMinWidth,jdbcType=DECIMAL},
      </if>
      <if test="limitType != null" >
        limit_type = #{limitType,jdbcType=TINYINT},
      </if>
      <if test="limitNumber != null" >
        limit_number = #{limitNumber,jdbcType=DECIMAL},
      </if>

    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzdepot.special.model.TechnologyAttr" >
    update technology_attr
    set t_id = #{tId,jdbcType=BIGINT},
      category = #{category,jdbcType=VARCHAR},
      hs_in_num = #{hsInNum,jdbcType=INTEGER},
      hs_hs_num = #{hsHsNum,jdbcType=INTEGER},
      hs_md_num = #{hsMdNum,jdbcType=INTEGER},
      hs_md_hs_num = #{hsMdHsNum,jdbcType=INTEGER},
      is_edition = #{isEdition,jdbcType=TINYINT},
      on_money = #{onMoney,jdbcType=DECIMAL},
      machining_nums = #{machiningNums,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      seller_id = #{sellerId,jdbcType=BIGINT},
      select_uit_type = #{selectUitType,jdbcType=TINYINT},
      robot_size_max_longs = #{robotSizeMaxLongs,jdbcType=DECIMAL},
      robot_size_max_width = #{robotSizeMaxWidth,jdbcType=DECIMAL},
      robot_size_min_longs = #{robotSizeMinLongs,jdbcType=DECIMAL},
      robot_size_min_width = #{robotSizeMinWidth,jdbcType=DECIMAL},
      limit_type = #{limitType,jdbcType=TINYINT},
      limit_number = #{limitNumber,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>